body{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /* 140 colors in total */
    background-color: powderblue;
    background: papayawhip;
    /* color: darkblue; */
    color: rgb(0, 0, 0);
}

p{
    color: rgba(0, 0, 0, 0.5);
    /* a stands for alpha, transparency controlled
    0 = transparent
    1 = opaque */
    color: #000000;
    color: hsl(227, 77%, 63%);
    color: #333; /* is equal to #333333*/
}