/* Universal Selector */
*{
    font-family: monospace;
    background-color: lavender;
}

/* Element Selector */
body{
    font-size: 20px;
}
/* Group Selectors */
h1, h2{
    color: green;
}
/* Font elements typically don't inherit the properties hence we use the following code. */
button, select, label, textarea{
    font: inherit;
}
/* Main selector - appears only once per page*/
main{
    font-family: 'Times New Roman', Times, serif;
}
/* Element Selector */
p{
    color: purple;
    font-family: Arial, Helvetica, sans-serif !important;
    /* !important has highest specifity, we must avoid this. */
}
/*CSS has a waterfall approach, TOP to BOTTOM interpretation. This can be overriden by specifity. */
p{
    color: brown;
}
p span{
    text-decoration: underline red ;
    background-color: yellow;
}
/* Since class selectors are more specific than element. They get higher precedence. */
.grey{
    color: grey;
}
/* ID's are more specific than classes. Ideally an ID should appear only once in an HTML document. We should try to avoid ID selectors in CSS. Instead focus more on Element and Class Selectors. */
#second{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}